<% unless comment.archived? %>
<p>
  <strong>Commenter:</strong>
  <%= "#{comment.commenter} @ #{comment.created_at.to_s}" %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<hr>
<% end %>